@charset "utf-8";

/* 
   ITSC1319
   10 Planet Jiu Jitsu
   Author: Jorge Cisneros
   Date: 09/28/22
   Filename: main_styles.css
*/

/* Change background color */
body {
    background-color:black;
    color: white;
    text-align: center;
}

/* Main logo */
#logo_name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Header */
header {
    border-bottom: 1px solid rgb(0, 0, 0);
    color: white;
    position: relative;
    width: 100%;
 }

 /* Navigation Bar */
header nav.horizontal {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    -webkit-flex: 0 1;
    flex: 0 1;
}

body header nav ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    list-style: none;
}

nav.horizontal ul li {
    -webkit-flex: 1 1;
    flex: 1 1;
    font-size: 0.8em;
    line-height: 1.5em;
    height: 1.5em;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    text-shadow: black 2px 1px 0px, black 4px 2px 5px;     
}

nav.horizontal ul li a {
    background-color: black;
    display: block;
    color: white;
    text-align: center;
}

nav.horizontal ul li a:hover {
    background-color: red
}

/* Main Name */
#main_name {
    text-align: center;
}

article {
    text-align: center;
}

/* map */
#map {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

footer {
    text-align: center;
}